body{
	padding:0;
	margin:0;
}

header{
  width: 100%;
  background: rgba(13, 13, 13, 0.14);
  height: auto;
}

header  img{
   width: 13%;
   height: auto;
}

nav li{
	float:left;
	text-decoration: none;
}