body{
	padding:0;
	margin:0;
}

.cf:after, .cf:before{
	content: '';
	display: table;
}

.cf:after{
	clear: both;
}

header{
  width: 100%;
  background: rgba(13, 13, 13, 0.14);
  height: auto;
}

header  img{
   width: 10%;
   height: auto;
   float:left;
}

nav li{
	float:left;
	list-style: none;
}

 a{
	text-decoration: none;
}